<h2 mat-dialog-title>Timebound Refinement</h2>
<mat-dialog-content class="mat-typography">
	<mat-spinner *ngIf="isLoading" style="margin: 0 auto;"></mat-spinner>
	<p *ngIf="!isLoading">
		<ng-container *ngIf="refinedTimebound; else noRefinement">
			<strong>Refinement: </strong>{{ refinedTimebound.getSpecificationAsSEL() }}
		</ng-container>
	</p>
	<div #chart></div>
</mat-dialog-content>
<mat-dialog-actions align="end" *ngIf="!isLoading">
	<button mat-button mat-dialog-close>Cancel</button>
	<button *ngIf="!isLoading && refinedTimebound" mat-flat-button color="primary" (click)="onConfirm()" cdkFocusInitial>Confirm Refinement</button>
</mat-dialog-actions>
<ng-template #noRefinement>
	<p>no refinement found for the given specification</p>
</ng-template>